:root {
    --azul-100: #2A7AE4;
    --azul-80: #5595E9;
    --azul-20: #D4E4FA;
    --branco: white;
    --preto-100: #464646;
    --azul-10: #EAF2FD;
    --preto-50: #A2A2A2;
    --cinza: #F5F5F5;
    
    --raleway: "raleway", sans-serif;
  
}