body {
    font-family: 'Raleway', sans-serif;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: white;
    padding: 16px 16px;
}

.login {
    box-sizing: border-box;
    padding: 12px 47.5px;
    border: 1px solid #2A7AE4;
}

.lupa {
    display: inline-block;
    background-image: url(Icone.svg);
    height: 24px;
    width: 24px;
    background-size: cover;
    background-repeat: no-repeat;
}